<!-- ---start grid--- -->
<div class="container">
  <div class="row">
          <div class="col-12">
          <!-- ----start footer---- -->
          <div class="footer">
            <ul>
              <li><a title="Login with Facebook" routerLink="" (click)="flogin()"><img src="assets/footer/facebook.png"></a></li>
              <li><a title="Login with Google" routerLink="" (click)="glogin()"><img src="assets/footer/google-plus.png"></a></li>
              <li><a title="Login with Linkedin" routerLink=""><img src="assets/footer/linkedin.png"></a></li>
              <li><a title="Login with Pinterest" routerLink=""><img src="assets/footer/pinterest.png"></a></li>
              <li><a title="Login with Twitter" routerLink=""><img src="assets/footer/twitter.png"></a></li>
            </ul>
          </div>



        <!-- ----end footer---------- -->

      </div> <!-- --end div class="col-12---- -->

    </div>
</div>
<!-- ----end grid--- -->
