<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <style>
    div {

      padding: 5px;

    }
    </style>

</head>

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href=""><i class="fas fa-sync-alt" style="padding:5px;margin:5px"></i> <span class="badge badge-success badge-pill">42 </span></a></li>
        <li role="presentation">  </li>
        <li role="presentation"><a href=""><i class="fas fa-comments" style="padding:5px;margin:5px"></i> <span class="badge badge-success badge-pill">3</span></a></li>
      </ul>

      <div class="col-md-8">
          <div class="card  border-secondary">



              <div class="card-header">
                <h4>Quick Draft</h4>

              </div>
              <div class="content">
                <form>
                    <fieldset>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" placeholder="Here you can write your title">
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label text-align="left">What's on your mind?</label>
                    <textarea row=10 class="form-control" placeholder="Here can be your description"></textarea>
                  </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-fill pull-right">Save Draft</button>
            <div class="clearfix"></div>
       </fieldset>
          </form>
            </div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="card  border-secondary">

              <div class="card-header">
                <h4>At a glance</h4>

              </div>
              <div class="content">
                <div class="row">

                  <div class="col-md-4">
                      <i class="far fa-clipboard"></i>
                    <a href=""><p>25 posts</p></a>
                  </div>

                  <div class="col-md-4">
                      <i class="far fa-comment-dots"></i>
                      <a href=""> <p>74 comments</p></a>
                  </div>

                  <div class="col-md-4">
                      <i class="far fa-sticky-note"></i>
                      <a href=""> <p>1 page</p></a>
                  </div>
                  <div class="footer">
                    <hr>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </div>

                </div>
              </div>
          </div>
      </div>

<div class="col-md-6">
  <div class="card  border-secondary">
    <div class="card-header">
      <h4>Tasks</h4>
      <p>Backend development</p>
    </div>
    <div class="content">
      <div class="row">
      <img src="assets/profile/pro.png" alt="" width="80" height="80">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit?
      </div>
    </div>
    <div class="footer">
        <i class="fas fa-redo-alt"></i><small>updated 3 minutes ago</small>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
