<div class="card mb-1" id="myimg">
<img src="assets/home/abc.jpg" >
</div>
<div class="jumbotron">
  <h2 class="display-3"><b>Learn on your schedule <br> Study any topic, anytime.</b> </h2>
  <br>
  <p class="lead">The world’s largest selection of courses
Choose from over 100,000 online video courses with new additions published every month.</p>
  <hr class="my-4">
  <p>Explore thousands of courses starting at $10.99 each.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/category" role="button">Learn more</a>
  </p>
</div>
