<h1> <span class="badge badge-warning">Our Courses</span></h1>
<div class="card-columns" >
  <div class="card">
    <a class="nav-link" href="" routerLink="/webcat"><img class="card-img-top" src="assets\category\future_technology1.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h4 class="card-title"><span class="badge badge-success">Web Development</span></h4>
      <p class="card-text">Web development broadly refers to the tasks associated with developing websites for hosting via intranet or internet.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <a routerLink="/maths"><img class="card-img-top" src="assets\category\maths.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h4 class="card-title"><span class="badge badge-success">Mathematics</span></h4>
      <p class="card-text">Mathematics includes the study of such topics as quantity, structure, space, and change. Mathematicians seek and use patterns to formulate new conjectures; they resolve the truth or falsity of conjectures by mathematical proof.
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title"><span class="badge badge-success">Music</span></h4>
      <p class="card-text">Music is an art form and cultural activity whose medium is sound organized in time.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
  <a routerLink="---"><img class="card-img" src="assets\category\music.jpg" alt="Card image"></a>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <a class="nav-link" href="" routerLink="---"><img class="card-img-top" src="assets\category\chess.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <h4 class="card-title"><span class="badge badge-success">Photography</span></h4>
      <p class="card-text">Photography broadly refers to the tasks associated with developing websites for hosting via intranet or internet.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <a routerLink="---"><img class="card-img-top" src="assets\category\english.png" alt="Card image cap"></a>
    <div class="card-body">
      <h4 class="card-title"><span class="badge badge-success">English</span></h4>
      <p class="card-text">English includes the study of such topics as quantity, structure, space, and change. Mathematicians seek and use patterns to formulate new conjectures; they resolve the truth or falsity of conjectures by mathematical proof.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
