<div class="container">

    <div class="row">
      <div class="col-3" style="border:1px solid black; background-color:beige;">
          <h5 class="card-title">Type</h5>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">

                      <div class="form-check">
                      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      Free Course
                    </div>

                  </th>
                </tr>
                <tr>
                  <th scope="col">

                      <div class="form-check">
                      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      Payment
                    </div>

                  </th>
                </tr>

                <h5 class="card-title">Skil Level</h5>
                <tr>
                    <th scope="col">

                        <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        Beginners
                      </div>

                    </th>
                  </tr>
                  <tr>
                      <th scope="col">

                          <div class="form-check">
                          <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          Intermediators
                        </div>

                      </th>
                    </tr>
                    <tr>
                        <th scope="col">

                            <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                            Advanced
                          </div>

                        </th>
                      </tr>
              <h5 class="card-title">Duration</h5>
              <tr>
                  <th scope="col">

                      <div class="form-check">
                      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                      Less than 1 month
                    </div>

                  </th>
                </tr>
                <tr>
                    <th scope="col">

                        <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        1-3 month
                      </div>

                    </th>
                  </tr>
                  <tr>
                      <th scope="col">

                          <div class="form-check">
                          <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          3+ month
                        </div>

                      </th>
                    </tr>
              </thead>

            </table>


      </div><!-- ...col-3 div end.... -->








      <div class="col-9" > <!-- ----------col 9 unit start------ -->

           <!-- **************** Start****************** -->
        <div class="card mb-3" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets\Cources\js1.png" class="card-img" alt="..." style="height: 175px; width: 240px">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">JavaScript: Understanding the Weird Parts</h5>
                <p class="card-text">An advanced JavaScript course for everyone! Scope, closures, prototypes, 'this', build your own framework, and more</p>
                <p class="card-text"><small class="text-muted">
                  Last updated 8/2015</small></p>
                  <button type="button" class="btn btn-outline-primary">Enroll Now</button>

              </div>
            </div>
          </div>
          <!-- *************************End*************************** -->




          <!-- **************** Start****************** -->

          <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="assets\Cources\js2.jpg" class="card-img" alt="..."style="height: 175px; width: 240px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Modern JavaScript From The Beginning</h5>
                    <p class="card-text">Learn and build projects with pure JavaScript (No frameworks or libraries)</p>
                    <p class="card-text"><small class="text-muted">
                      Last updated 8/2018</small></p>
                      <button type="button" class="btn btn-outline-primary">Enroll Now</button>
                  </div>
                </div>
              </div>
            </div>




        <!-- *************************End*************************** -->


          <!-- **************** Start****************** -->

          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="assets\Cources\js4.jpg" class="card-img" alt="..." style="height: 175px; width: 240px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">The Modern JavaScript Bootcamp (2019)</h5>
                    <p class="card-text">Learn JavaScript by building real-world apps. Includes 3 real-world projects, 80 programming challenges, and ES6/ES7!</p>
                    <p class="card-text"><small class="text-muted">
                      Last updated 12/2018</small></p>
                      <button type="button" class="btn btn-outline-primary">Enroll Now</button>
                  </div>
                </div>
              </div>
            </div>




        <!-- *************************End*************************** -->

          <!-- **************** Start****************** -->

          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="assets\Cources\js5.jpg" class="card-img" alt="..." style="height: 175px; width: 240px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Advanced Javascript</h5>
                    <p class="card-text">In only three hours you will learn enough javascript to transform from a Junior JS Dev into a Senior JS Guru.</p>
                    <p class="card-text"><small class="text-muted">Last updated 03/2019</small></p>
                    <button type="button" class="btn btn-outline-primary">Enroll Now</button>
                  </div>
                </div>
              </div>
            </div>




        <!-- *************************End*************************** -->


          <!-- **************** Start****************** -->

          <div class="card mb-3"  >
              <div class="row no-gutters" >
                <div class="col-md-4">
                  <img src="assets\Cources\js3.png" class="card-img" alt="..." style="height: 175px; width: 240px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2019: Build Real Projects!</h5>
                    <p class="card-text">Master JavaScript with the most complete course on the market! Projects, challenges, quizzes, ES6+, OOP, AJAX, Webpack</p>
                    <p class="card-text"><small class="text-muted">Last updated 01/2019</small></p>
                    <button type="button" class="btn btn-outline-primary">Enroll Now</button>
                  </div>
                </div>
              </div>
            </div>




        <!-- *************************End*************************** -->
        </div></div>
    </div>
  </div>
